@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

@import url('https://fonts.googleapis.com/css2?family=Play&family=Quicksand:wght@300&display=swap');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Play', sans-serif;

/* Global */
a{
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  z-index: 10;
}

.posts {
  flex: 3 0 0;
  z-index: 1;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 30px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }

  li{
    text-decoration: none;

  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}
.post-author {
  text-decoration: none;
  li {
    list-style-type: none;
  }
}
/* Tags */
.list.tags li{
  display: inline-block;
}

.tag-size-5{
  font-size: 150%;
}

.tag-size-4{
  font-size: 125%;
}

.tag-size-3{
  font-size: 100%;
}

.tag-size-2{
  font-size: 90%;
}

.tag-size-1{
  font-size: 80%;
}
/* Post */

.post {
  position: absolute;
  // max-width: calc(60vw - 208px);
  text-align: center;
  opacity: 0;
  // transition: 1.5s;
  // transition-property: opacity;

  &.active {
    position: static;
    opacity: 1;
    transition: 2.5s;
    // transition-delay: 1.1s;
    transition-property: opacity;
  }
}


.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

/* Media */
@media screen and (max-width: 780px) {
  .wrapper{
    flex-direction: column-reverse;
    max-width: 90%;
    margin-inline: auto;
    gap: 12px;
  }

  .sidebar{
    text-align: center;
    order: 1;
    padding: 5px;
    margin: 0;

    .list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      li{
        padding-inline: 8px;
      }
    }
  }

  .posts{
    order: 0;
    margin: 0;
  }

  .post{
    max-width: 100%;
    margin-right: 20px;
  }
}
// @media screen and (min-width: 1140px) {
//   .post{
//     max-width: calc(calc(1140px - 260px) * 0.6);
//   }
// }
